* Grid
  ============================ */
.row{
    display: flex;
}
ul.row{
    margin: 0;
    padding: 0;
    list-style: none;
}
[class*='col-' ]{
    padding: 0.5rem;
}

/* Section Latest news ============================= */
.section-latest-news{
    flex-direction: row-reverse;
}